*
{
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

body { width: 46em; margin: 0 auto; padding: 0em 1em 1px 1em; background-color: #fcf4dc; }
html { background-color: #042028; }
h1, h2, h3, h4 { text-align: center; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }
body, button, input, select, textarea { font-size: 16px; font-weight: normal; font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; line-height: 1.5; color: #002b36; }
p { margin-bottom: 1.5em; -moz-font-feature-settings: "liga=1 kern=1 pnum=1 onum=1 frac=1"; -webkit-font-feature-settings: "liga" 1, "kern" 1, "pnum" 1, "onum" 1, "frac" 1; -moz-font-feature-settings: "liga" 1, "kern" 1, "pnum" 1, "onum" 1, "frac" 1; -ms-font-feature-settings: "liga" 1, "kern" 1, "pnum" 1, "onum" 1, "frac" 1; font-feature-settings: "liga" 1, "kern" 1, "pnum" 1, "onum" 1, "frac" 1; }
p, blockquote { word-spacing: 0.125em; -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto; -webkit-hyphenate-character: "\2010"; -webkit-hyphenate-limit-before: 2; -webkit-hyphenate-limit-after: 3; -ms-hyphenate-limit-chars: 5 2 3; -webkit-hyphenate-limit-lines: 3; -ms-hyphenate-limit-lines: 3; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }
a { -webkit-transition: color 0.2s linear; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; transition: color 0.2s linear; text-decoration: none; color: #6790fe; }
a:visited { color: #fda63a; }
a:focus { color: #7676e1; }
a:hover { color: #7676e1; }
a:active { color: #fda63a; }
.text { width: 33em; margin-left: auto; margin-right: auto; margin-top: 1em;}
.has_run_in::first-line, h1, h2, h3, h4, h5, h6 { letter-spacing: 0.0625em; }
strong, b, .has_run_in::first-line { font-weight: bold; }
.has_run_in::first-line { text-rendering: auto; font-variant: small-caps; }
h1, h2, h3 { -webkit-column-break-after: avoid; page-break-after: avoid; break-after: avoid; }
hr, h1, h2, h3, h4, h5, h6 { -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid; }
h1 { font-size: 4em; margin-top: 0.5625em; margin-bottom: 0.5625em; }
h1, h2, h3, h4, h5, h6 { font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; font-weight: normal; color: inherit; }

button, .select {
	border-radius: 3px;
	border: 1px solid #042028;
	box-shadow: inset 0 0 0 1px hsl(70, 93%, 38%), 0 1px 0 0 hsl(70, 93%, 08%);
	background-image: -webkit-linear-gradient(top, hsl(70, 93%, 28%) 0%, hsl(70, 93%, 28%) 50%, hsl(70, 93%, 18%) 100%);
	position: relative;
	text-shadow: 0 1px #042028;
	color: #e9e2cb;
	cursor: pointer;
	display: inline-block;
	font-size: small;
	padding: 0 .5em;
	-webkit-appearance: none;
}

button:hover, .select:hover {
	background-image: -webkit-linear-gradient(top, hsl(70, 93%, 18%) 0%, hsl(70, 93%, 18%) 50%, hsl(70, 93%, 28%) 100%);
	color: #fcf4dc;
}


input[type="checkbox"], select { -webkit-appearance: none; border: none; font-weight: inherit; background: none; color: inherit; font-size: inherit; outline: none; margin: 0; }

.select select
{
	height: 100%;
	cursor: pointer;
	margin: 0 -1.5em 0 -.5em;
	padding: 0 1.5em 0 .5em;
}

.select::after
{
	display: inline;
	content: '▼';
	font-size: .7em;
	position: relative;
	top: -.25em;
}
			
.checkbox { position: relative; display: inline-block; top: .175em; }
			
input[type="checkbox"]
{
	cursor: pointer;
	width: 2em;
	height: .8em;
	box-shadow: inset 0 0 0 1px hsl(357, 77%, 66%);
	background-color: hsl(357, 77%, 46%);
	border: 1px solid hsl(357, 77%, 26%);
	border-radius: 5px;
	position: relative;
	display: block;
}

input:checked {
	box-shadow: inset 0 0 0 1px hsl(70, 93%, 38%);
	background-color: hsl(70, 93%, 28%);
	border: 1px solid hsl(70, 93%, 18%);
	background: ;
}
			
.checker
{
	position: absolute;
	display: block;
	left: 5%;
	top: 10%;
	height: 85%;
	background: hsl(193, 82%, 9%);
	border-radius: 5px;
	text-indent: -9999px;
	width: 35%;
	box-shadow: inset 0 0 0 1px hsl(193, 82%, 29%), 0 0 0 1px hsl(193, 82%, 09%);
}
			
input:checked + .checker
{
	left: 65%;
}

input[type="number"], input[type="text"]
{
	position: relative;
	outline: none;
	border-radius: 3px;
	text-shadow: 0 -1px hsl(193, 82%, 29%);
	box-shadow: inset 0 0 0 1px hsl(193, 82%, 29%);
	background-color: hsl(193, 82%, 9%);
	border: 1px solid #042028;
	font-size: small;
	color: #e9e2cb;
	padding: .2em 1.5em .2em .5em;
}

table
{
	margin: 2em auto;
	width: 100%;
}
			
th, tr:nth-of-type(even)
{
	background: #e9e2cb;
}
			
td, th
{
	text-align: center;
}
			
.winner::after
{
	content: " *";
}