* {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}

td {
	padding-right: 20px;
	padding-bottom: 5px;
}

header {
	margin-bottom: 10px;
}

#contacts {
	border: solid 5px #eee;
	padding: 10px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
}

input#result {
	width: 40px;
	clear: both;
}

#slidingDiv {
	display: none;
}