* {
	margin:0;
	padding:0;
}
body {
	color:#fff;
	font-family:verdana;
	background: url('../img/frisbee.jpeg') no-repeat fixed;
	padding-top:20px;
}
#wrapper {
	width:1000px;
}
h1 {
	font-family: 'Shadows Into Light Two', cursive;
	margin-bottom:.5em;
	margin-left:20px;
}
h2 {
	font-weight:normal;
	font-size:1em;
}

table{
	margin-left: auto;
	margin-right: auto;
    width: 80%;
    background-color: rgba(100, 200, 100, 0.5);
    margin-bottom: 1em;
}
tr{
    text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
}
tr:nth-child(even){
    background-color: rgba(100, 200, 100, 0.5);
	padding-top: 20px;
	padding-bottom: 20px;
}
.winner:after{
    content: "*"; 
    color: red;
    font-size: 180%;
}